@import url("@radix-ui/colors/tomato-dark.css");
@import url("@radix-ui/colors/mauve-dark.css");
@import "tailwindcss";

@plugin "@tailwindcss/typography";
@config "../../tailwind.config.js";

@plugin "daisyui" {
  themes:
    light --default,
    dark --default;
}

@plugin "daisyui/theme" {
  name: "PumpkinMoon";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(55% 0.195 38.402);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(51% 0.262 276.966);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(75% 0.183 55.934);
  --color-info-content: oklch(26% 0.079 36.259);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
